<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Endless</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/course_insidecss.css" />
  </head>
  <body>
    <%- include("includes/header.ejs")%>

    <div class="course-details-container">
      <img
        id="courseImage"
        src="<%=course.picture%>"
        alt="Web Development Fundamentals"
      />

      <div class="course-details">
        <h2><%=course.title%></h2>
        <p><%=course.description%></p>
      </div>

      <div class="course-info">
        <h2>Tutor Information</h2>
        <ul>
          <li><strong>Tutor : </strong> <%=course.authorName%></li>
          <li>
            <strong>Tutor's year of study : </strong><%=course.authorYear%>
          </li>
          <li><strong>Price : </strong><%=course.price%></li>
          <li><strong>Mode : </strong><%=course.mode%></li>
        </ul>
      </div>

      <div class="learning-outcomes">
        <h2>Learning Outcomes</h2>
        <%=course.learningOutcomes%>
      </div>
      <div>
        <a class="pay-button" href="">Buy Now</a>
      </div>
    </div>
    <%- include("includes/footer.ejs")%>
  </body>
</html>
